.table_root {
    width: 100%;
    max-width: 900px;
    margin: 1rem auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.table_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.loader {
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table_row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 2px solid #ff7d1f;
}

.table_row:hover {
    background: rgba(255, 125, 31, 0.3);
    color: #fff;
}