.header_root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 1rem;
}

.header {
    width: 50%;
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
}

.search_root {
    width: 50%;
    text-align: center;
    padding: 0 2rem;
}

.search {
    width: 100%;
    max-width: 350px;
    background: #17181d;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: #fff;
}

.search::placeholder {
    color: rgb(145, 145, 145);
}

.search:focus {
    outline: none;
}